@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  background-color: #fafafa;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 1%;
}

.box {
  background-color: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  padding: 1%;
  margin: 1%;
  width: 20%;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.link-red {
  color: red;
  transition: 0.2s ease;
}

.link-red:hover {
  color: rgb(182, 31, 31);
}
